* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2rem;
}

body {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 3rem;
}

.square {
  width: 30%;
  height: 400px;
  border-radius: 8px;
  margin-bottom: 2rem;
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  display: grid;
  place-content: center;
}

.inputText {
  width: 30%;
}

.inputText input {
  height: 2rem;
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  outline: none;
  margin-bottom: 2rem;
}
